.postList{

    .menu{
        width:70%;
        display:block;
        margin-left: auto;
        margin-right: auto;
        
        button{
            margin: 5px;
        }
    }
    .content{
        margin: 20px;
    }
}